
html {
  --scrollbarBG: #acacac;
  --thumbBG: maroon;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  font-family: verdana;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


div.controls, div.title, div.footer {
  background-color: navajowhite;
  border-color: maroon;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 760px;
  margin: 5px auto;
  padding: 5px 10px;
  overflow: auto;
  font-size: 15px;
}

div.title {
    font-size: 110%;
    font-weight: bold;
    color: maroon;
}

a:link {
   text-decoration:none;
   color: red;
}
a:visited {
   text-decoration:none;
   color: red;
}
a:hover, a:active {
   color: blue;
   text-decoration:none;
   outline: none;
}
a:focus {
   outline: none;
}

span.xbreeding {
  font-size: 170% !important;
/*   text-shadow: 2px 2px 5px yellow; */
  color: yellow;
  text-shadow: 2px 2px 2px black, 1px 1px 25px maroon, 0 0 6px red;
}
div.version {
  float: right;
  margin-top: 3px;
  line-height: 18px;
  text-align: right;
  font-size: 10px;
}
div.footer {
	font-size: 60%;
	color: maroon;
	text-align: center;
}

label {
  color: maroon;
  margin-bottom: 5px;
  font-size: 80%;
}

div.clones {
  width: 100px;
  float: left;
  margin: 0 10px;
}
div.clones textarea {
  background-color: lightyellow;
  border-color: maroon;
  border-style: solid;
  border-width: 1px;
  font-size: 130%;
  font-weight: bold;
  resize: none;
  padding: 5px;
  margin-top: 5px;
  height: 370px;
  text-transform: uppercase;
  overflow: hidden scroll;
  outline: none;
  border-radius: 4px;
}

div.head {
  float: left;
  width: 630px;
}

div.target {
  width: 310px;
  float: left;
  margin: 0 10px 0 0;
}

div.sliders, div.checks {
  background-color: lightyellow;
  border-color: maroon;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  font-size: 130%;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
  outline: none;
  border-radius: 4px;
  height: 60px
}
div.sliders div {
    width: 33%;
    float: left;
}
div.sliders div span {
    width: 100%;
}

div.filters {
  width: 60px;
  float: left;
  margin: 0 10px;
}

div.checks div {
    width: 100%;
    display: inline-table;
}

div.calculate {
   float: right;
   width: 210px;
   margin-top: 10px;
}

::-moz-focus-inner {border:0;}
input[type=button] {
   background-color: maroon;
   color: yellow;    
   font-weight: bold;
   border-color: maroon;
   border-radius: 12px;
   cursor: pointer;
   margin: 0;
   transition: 0.3s;
   width: 100%;
   outline: none;
}
#calculate {
   padding: 13px;
   font-size: 150%;
   height: 85px;
}
#next {
	padding: 8px;
	font-size: 130%;
	height: 50px;
	display: none;
}
#restart {
	padding: 5px;
	font-size: 100%;
	height: 30px;
	display: none;
	margin-top: 5px;
}
#reset {
   padding: 5px;
   font-size: 100%;
   margin-top: 5px;
}

input[type=button]:hover {
   background-color: white;
   color: black;
}
input[type=button]:active {
   background-color: yellow;
   color: maroon;
}
input[type=button]:disabled {
   background-color: #acacac;
   color: black;
   cursor: default;
}
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 90%; 
  height: 15px;
  background: gray;
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: 0.3s; 
  margin-top: 10px;
  cursor: pointer;
}
input[type=range]:hover {
   background-color: maroon;
}
input[type=range]:active {
   background-color: red;
}
input[type=range]:disabled {
   background-color: grey;
   cursor: default;
}
input[type=checkbox] {
    vertical-align: middle;
    cursor: pointer;
}
input[type=checkbox]:disabled {
   cursor: default;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  background: url('../img/genes.png');
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  background: url('../img/genes.png');
}

input[type=text] {
  background-color: lightyellow;
  border-color: maroon;
  border-style: solid;
  border-width: 1px;
  width: 160px;
  font-size: 100%;
  font-weight: bold;
  color: maroon;
  padding: 5px;
  text-align: center;
  margin-left: 25px;
  text-transform: uppercase;
  outline: none;
  border-radius: 4px;
  height: 15px;
}

.sliderY::-webkit-slider-thumb {
  background-position:  -0px 0px !important;
}
.sliderY::-moz-range-thumb {
  background-position:  -0px 0px !important; 
}
.sliderH::-webkit-slider-thumb {
  background-position:  -25px 0px !important;
}
.sliderH::-moz-range-thumb {
  background-position:  -25px 0px !important; 
}
.sliderG::-webkit-slider-thumb {
  background-position:  -50px 0px !important;
}
.sliderG::-moz-range-thumb {
  background-position:  -50px 0px !important; 
}

div.results {
   float: left;
   margin: 0;
   width: 630px;
}
div.cross {
  background-color: lightyellow;
  border-color: maroon;
  border-style: solid;
  border-width: 1px;
  font-size: 130%;
  font-weight: bold;
  padding: 3px 5px;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 322px;
  text-align: left;
  border-radius: 4px;
  transition: 0.5s;  
  opacity: 0;
}

#progress {
	float: left;
	width: 100%;
	background-color: lightyellow;
	margin: 5px 0;
	padding: 0;
	height: 5px;
	border-radius: 4px;
    border-color: maroon;
    border-style: solid;
    border-width: 1px;
}

#bar {
  width: 0%;
  height: 5px;
  background-color: maroon;
  color: yellow;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  font-size: 80%;
  border-radius: 4px;
}

div.line {
    /* width: 185px; */
    float: left;
}

div.plants {
    width: 370px;
    float: right;
}

div.message {
  text-align: center;
  margin-top: 50px;
  line-height: 25px;
  font-size: 75%;
}

div.planter, div.previous_planter {
	border-width: 6px;
	border-style: solid;
	overflow: auto;
	padding: 4px;
	border-radius: 10px;
	margin: 2px 0 2px 2px;
    float:left;
}
div.planter {
	border-color: cornflowerblue;
	background-color: burlywood;
}
div.previous_planter {
	border-color: teal;
	background-color: peru;
}

div.genes, div.result, div.empty, div.previous, div.next {
  width: 175px;
  margin: 2px 3px;
  border-width: 4px;
  border-style: solid;
  overflow: auto;
  border-radius: 10px;
  padding: 2px;
  float: left;
  height: 30px;
  text-align: center;
}

div.genes {
  border-color: black;
  background-color: #444;
}

div.result {
  border-color: yellow;
  background-color: #444;
}

div.previous {
  border-color: yellow;
  background-color: #444;
}

div.next {
  border-color: crimson;
  background-color: #444;
}

div.empty {
  border-color: #787878;
  background-color: #787878;
  opacity: 0.7;
}

div.genes span, div.result span, div.checks span, div.previous span, div.next span {
   background-image: url("../img/genes.png");
   background-color: transparent;
   background-repeat: no-repeat;
   background-attachment: scroll;
   display: block;
   float: left;
   height: 25px;
   width: 25px;
   padding:0px;
   margin: 2px;
}

span.Y { background-position:    0px 0px; }
span.H { background-position:  -25px 0px; }
span.G { background-position:  -50px 0px; }
span.A { background-position:  -75px 0px; }
span.B { background-position: -100px 0px; }
span.C { background-position: -125px 0px; }
span.W { background-position: -150px 0px; }
span.X { background-position: -175px 0px; }
span.Z { background-position: -200px 0px; }
span.E { background-position: -225px 0px; }

div.nojs {
  text-align: center;
  background-color: black;
  height: 40px;
  color: yellow;
  font-size: 120%;
  font-family: Arial;
  line-height: 40px;
  font-weight: bold;
}

span.red {
  color: red;
  font-weight: bold;
}

div.tip {
	border: 1px solid black;
	border-radius: 20px 20px 0 0;
	background-color: yellow;
	width: 500px;
	margin: 368px auto auto 180px;
	text-align: center;
	padding: 0;
	color: black;
	position: absolute;
    transition: 0.75s;
    opacity: 0;
    height: 80px;
    display: table;
    font-size: 90%;
}
div.tip div {
    display: table-cell;
    vertical-align: middle;
}

div.tip div p {
    margin: 5px 0;
}
div.arrow {
	background-image: url("../img/arrow.png");
	width: 80px;
	height: 80px;
	float: left;
	margin: 80px 0 0 3px;
	background-repeat: no-repeat;
}
div.total {
	width: 580px;
	border-width: 3px;
	border-style: solid;
	overflow: auto;
	padding: 5px;
	border-radius: 10px;
	margin: 4px 0 10px 2px;
	float: left;
	border-color: brown;
	background-color: white;
	font-size: 50%;
	text-align: center;
}
a.help {
    border-width: 3px;
    border-radius: 6px;
    border-style: solid;
    font-weight: bold;
    padding: 0 1px;    
}

a.help:link, a.help:visited {
    color: yellow;
    background-color: maroon;
    border-color: maroon;
}
a.help:hover, a.help:active {
    color: maroon;
    background-color: yellow;
    border-color: yellow;
}
a.help:focus {
   outline: none;
}
